.git
.gitmodules
.DS_Store

node_modules
**/node_modules
.cache
data
dist
*.log
*.db
*.db-shm
*.db-wal

config/chihiro.local.json
deploy/.env
deploy/data
apps/desktop/dist

vendor/**/node_modules
vendor/**/dist
vendor/**/out

frontend/dist
